# contents go to ~/.gitconfig

[core]
  editor = vim
[user]
  email = ███
  name = ███
  signingkey = ███
[commit]
  gpgsign = true
[gpg]
  program = ███ # if not in PATH
[remote "origin"]
  prune = true
